.footer{
    background-color: #ffffff;
    grid-row: 5 / 6;
    grid-column: 1 / -1;

    display: grid;
    justify-content: center;
    align-items: center;
}

.footer h1{
    color: #464646;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
