.header{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 115px;

}

.header__div-icon{
    position: relative;
}

.header__input {
    width: 35vw;
    height: 3vw;
    min-height: 35px;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
}

.header__icon{
    position: absolute;
    display: block;
    bottom: 0.5rem;
    right: 1rem;
    user-select: none;
    cursor: pointer;
}

.header__img {
    margin: auto 0;
    width: calc(160px - 3rem);
}

.header__button {
    font-size: 1rem;
    font-weight: 400;
    color: #2A7AE4;
    box-sizing: content-box;
    width: 10vw;
    height: 3vw;
    min-height: 35px;

    border: 2px solid #2A7AE4;
}